<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/7_multi_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/population-worldbank/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/population-worldbank
API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv
Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv
Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv

In [6]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [12]:
pd.options.display.float_format = '{:,.2f}'.format

In [7]:
def path_file(name):
  return '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/population-worldbank/{0}'.format(name)

In [8]:
path_read_file = path_file('API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv')
path_read_file

'/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/population-worldbank/API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv'

In [13]:
# aquí nuestro csv tiene 4 primera filas en blanco y luego ya inicia nuestro dataset
# es por eso eso que omitimos las 4 primeras filas utilizando skiprows
df_pob = pd.read_csv(path_read_file, skiprows = 4)
df_pob.head()

                  Country Name Country Code  ...           2020 Unnamed: 65
0                        Aruba          ABW  ...     106,766.00         nan
1  Africa Eastern and Southern          AFE  ... 677,243,299.00         nan
2                  Afghanistan          AFG  ...  38,928,341.00         nan
3   Africa Western and Central          AFW  ... 458,803,476.00         nan
4                       Angola          AGO  ...  32,866,268.00         nan

[5 rows x 66 columns]